<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>addQuestion</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
<script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
</head>
<body class="container">
	<br />
	<h1>添加问题</h1>
	<br />
	<br />
	<div class="with:80%">
		<form class="form-horizontal" id="uploadForm" enctype="multipart/form-data" th:action="@{/addQuestion}" method="post">
			<div class="form-group">
				<label for="describes" class="col-sm-2 control-label">describes</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="describes" id="describes" placeholder="题目内容" />
				</div>
			</div>
			
			<div class="form-group">
				<label for="describesimg" class="col-sm-2 control-label">describesimg</label>
				<div class="col-sm-10">
				<input id="describesimg" type="text" value="" class="form-control" name="describesimg" placeholder="图片链接" /> 
				<input id="file" onchange="excelUpload()" value="选择图片"	type="file" name="file" style="width: 400px">
				</div>
			</div>


  <div style="position: absolute; top: 220px; left: 500px;">
    <img id="avatarPreview" src="">
  </div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<input type="submit" value="提交" class="btn btn-info" /> &nbsp;&nbsp; &nbsp; 
					<input type="reset" value="重置" class="btn btn-info" />
				</div>
			</div>
		</form>
  


		 
		 
		 
		 
		 
		 
</div>
</body>
<script>
    function excelUpload() {
        var file = document.getElementById("file");
        if(file.value==null||file.value==""){
            alert("文件不能为空");
        }
        var formData = new FormData($('#uploadForm')[0]);
        $.ajax({
            url: 'upload',
            type: 'POST',
            cache: false,
            data:formData,
            processData: false,
            contentType: false,
            success:function (data) {   
            	//alert(data);        
                $("#describesimg").val(data);/*将服务端的图片url赋值给form表单的隐藏input标签*/
                $("#avatarPreview").attr('src',data);  /*预览图片*/                    
            },
            error:function (data) {
                alert(data);
            }
        });
    }
</script>
</html>
